:root{
    --prime-text-color: #212121;
    --link-color: #2196F3;
    --text-color: #757575;
    --btn2-color: #F5F4FA;
    --bgc2-color: #2F303A;
    --bgc3-color: #ffffff;
    --social-networks-icons: #AFB1B8;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: var(--bgc3-color);
    color: #212121;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.text,
.list,
.features .list,
.work-list .list{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.button{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*site-nav*/
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.header .main-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    margin-left: 93px;
}

.nav-list .item:not(:last-child){
    margin-right: 50px;
}

.nav-list .link{
    color: var(--prime-text-color);
    padding: 32px 0;
    position: relative;
}

.nav-list .link.current{
    color: var(--link-color);
}

.current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    background-color: var(--link-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header .contact-list{
    display: flex;
    margin-left: auto;
}

.contact-list .link {
    display: flex;
    align-items: center;
}

.header .item:not(:last-child){
    margin-right: 50px;
}

.contact-list .link{
    color: var(--text-color);
}

.nav-list .link:hover,
.nav-list .link:focus,
.contact-list .link:hover,
.contact-list .link:focus{
    color: var(--link-color);
    fill: var(--link-color);
}

.nav-icons-svg{
    fill: currentColor;
    margin-right: 10px;
}

/* features */

.feature-item::before{
    content: '';
    display: block;
    height: 120px;
    width: 270px;
    background-color: var(--btn2-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.icon-antenna::before{
    background-image: url(../images/icons/antenna.svg);
}

.icon-astronaut::before{
    background-image: url(../images/icons/astronaut.svg);
}

.icon-clock::before{
    background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before{
    background-image: url(../images/icons/diagram.svg);
}

/* hero */

.hero{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bgc2-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url(../images/hero-bgrnd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button{
    color: var(--bgc3-color);
    background-color: var(--link-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    font-family: inherit;
    border: 0;
    padding: 10px 32px;
}

.button.primary{
    color: var(--bgc3-color);
    background-color: var(--link-color);
    font-family: sans-serif;
    border-radius: 4px;
    cursor: pointer;
}

.button.primary:hover,
.button.primary:focus{
    color:var(--link-color);
    background-color: var(--bgc3-color);
}

.button.secondary{
    color: var(--prime-text-color);
    background-color: var(--btn2-color);
    font-family: Roboto;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding: 6px 22px;
    border-radius: 4px;
    letter-spacing: 0.03em;
}

.button.secondary:hover,
.button.secondary:focus{
    color: var(--bgc3-color);
    background-color: var(--link-color);
    font-family: inherit;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-title{
    color: var(--prime-text-color);
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 1000ms ease;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, 50%);
}

.modal-close-button{
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.modal-close-button:hover .close-svg,
.modal-close-button:focus .close-svg{
    fill: var(--link-color);
}

.close-svg{
    width: 18px;
    height: 18px;
    fill: #000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal {
    width: 448px;
    
}

.form-modal .title.modal-title{
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.form-label{
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

.form-field {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-comment {
    margin-bottom: 20px;
}

.form-field label {
    margin-bottom: 4px;
}

.form-field input {
    width: 100%;
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus{
    border-color: var(--link-color);
    outline: none;
}

.form-input:focus + .form-icon {
    fill: var(--link-color);
}

.form-icon{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    bottom: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea{
    width: 100%;
    padding: 12px 18px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus .form-textarea{
    border-color: var(--link-color);
    outline: none;
}

.agree {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.check {
    display: flex;
    align-items: center;
}

.check::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 15px;
    margin-right: 8px;
    background-image: url(../images/icons/checkbox0.svg);
    fill: var(--bgc2-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox:checked +.check::before {
    background-color: var(--link-color);
    background-image: url(../images/icons/checkbox1.svg);
    border-radius: 2px;
}

.agree label {
    position: relative;
    display: block;
}

.agree a {
    text-decoration-line: underline;
    position: relative;
    color: var(--link-color);
    margin-left: 4px;
}

.form-modal .modal-button{
    margin-left: auto;
    margin-right: auto;
    padding-right: 55px;
    padding-left: 55px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    display: flex;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-button:hover,
.modal-button:focus {
    border: 1px solid rgba(33, 33, 33, 0.2);
}

/* work */

.work .item{
    position: relative;
}

.work .title{
    color: #ffffff;
    text-transform: uppercase;
}

.work-description{
    display: flex;
    position: absolute;
    align-items: center;
    background: rgba(47, 48, 58, 0.8);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    justify-content: center;
}

/* features */
.text{
    font-weight: 400;
}

.features .title,
.projects-list .title,
.team .title{
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--prime-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features p,
.features li,
.features h3{
    margin-top: 0;
    margin-bottom: 0;
    
}


.features .feature-item{
    width: 270px;
}

.feature-list{
    display: flex;
}

.feature-list .feature-item:not(:last-child) {
    margin-right: 30px;
}

/* work */

.work{
    padding-top: 0;
}

.work-list{
    display: flex;
}

.work .item:not(:last-child){
    margin-right: 30px;
}

/* team */  

.features .text,
.projects-list .text{
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;  
}

.team{
    background-color: var(--btn2-color);
    text-align: center;
}

.team .list{
    display: flex;
}

.team .title{
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team .team-card{
    background-color: var(--bgc3-color);
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card img{
    margin-bottom: 30px;
}

.team .item:not(:last-child){
    padding-right: 30px;
}

.team .text{
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    margin-top: 0;
    margin-bottom: 16px;
}

.social-networks{
    display: flex;
    justify-content: center;
}

.social-networks-item:not(:last-child) {
    margin-right: 10px;
  }

.social-networks-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-svg{
    width: 20px;
    height: 20px;
    fill: var(--social-networks-icons);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-link:hover,
.social-networks-link:focus{
    background-color: var(--link-color);
}

.social-networks-link:hover .social-icons-svg,
.social-networks-link:focus .social-icons-svg {
    fill: #ffffff;
}

/* clients */

.clients-list{
    display: flex;
    justify-content: center;
}

.clients-item-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
}

.clients-item-link.link{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child){
    margin-right: 30px;    
}

.clients-item-link:hover,
.clients-item-link:focus{
    fill:var(--link-color);
    border: 1px solid var(--link-color);
}

/* footer */

footer{
    padding-bottom: 60px;
    padding-top: 60px;
    background-color:var(--bgc2-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer .container {
    display: flex;
}

.footer-contacts{
    margin-left: 0;
    margin-right: auto;
}

.footer .contact-list{
    margin-top: 20px;
}

.footer-subscribe{
    margin-right: 0;
    margin-left: auto;
}

.footer-social .title,
.footer-subscribe .title{
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer .social-networks-item{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer .social-icons-svg{
    fill: #ffffff;
}

.link{
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress{
    font-style: normal;
}

.adress-item:not(:last-child){
    margin-bottom: 9px;
}

.footer-form{
    display: flex;
    /* flex-direction: row; */
}

.footer-input {
    width: 358px;
    /* flex-grow: 1; */
    padding: 14px 15px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--bgc3-color);
    background: transparent;
}

.footer-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  .mailing-icon-svg {
      margin-left: 10px;
      width: 24px;
      height: 24px;
      fill: var(--bgc3-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-button.button.primary{
      align-items: center;
      display: flex;
      padding-left: 29px;
      padding-right: 29px;
  }

  .footer-button:focus .mailing-icon-svg,
  .footer-button:hover .mailing-icon-svg{
      fill: var(--link-color);
  }


/* portfolio */

.projects-list .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-transform: none;
}

.projects-list .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.buttons-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters .filter:not(:last-child){
    margin-right: 8px;
}

.filters .filter{
    justify-content: center;
}

.projects .projects-list{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    display: block;
    width: 100%;
    height: auto;
}

.project-item{
    border: 1px solid #EEEEEE;
    width: 370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-img{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(101%);
    transition: transform 250ms ease;
}

.overlay .text{
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--bgc3-color);
}

.project-item:hover,
.project-item:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay{
    transform: translatex(0);
}

.project-cards:nth-child(3n){
    margin-right: 0;
}

.project-cards:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.project-cards{
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-description{
    padding: 20px 24px;
}

.project-description .title,
.project-description .text{
    margin-top: 0;
    margin-bottom: 0;
}
